*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0,0,33);
    color: white;
    font-family: 'Poppins',sans-serif;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background-color: rgb(22, 22, 48);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin:0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(119, 119, 214);
    font-size: 1.02rem;
}
.left{
    font-size: 2rem;
}
.firstsec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 120px 0;
}
.firstsec  > div{
    width: 30%;
}
.leftsec{
    font-size: 2.3rem;
}
.leftsec .buttons{
    padding: 50px 0;
}
.leftsec .btn{
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.leftsec .btn a{
    text-decoration: none;
    color:white;
}
.rightsec img{
    width: 80%;
}
.purple{
    color: rgb(157, 80, 230);
}
.text-gray{
    color: gray;
}
#element{
    color: rgb(157, 80, 230);
}
.secondsec{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
hr{
    border: 0;
    background:#9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}
.secondsec h1{
    font-size: 1.9rem;
}
.secondsec .box{
    background-color: white;
    width: 78vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondsec .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 140px;
}
.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}
.vertical-title{
    position: relative;
    top: 75px;
    width: 200px;
}
.vertical-title a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.home{
    margin: 8rem;
    margin-top: 3rem;
}
.home h1, .projects h1 , .education h1, .contact h1{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2rem;

}

.home h1:hover, .projects h1:hover, .education h1:hover, .contact h1:hover{
    color: blueviolet;
    transition: 1s;
}

.home1 {
    display: flex;
}
.home1 p {
    margin-top: 2rem;
    text-align: left;
    font-size: 25px;
    line-height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.home1 img{
    margin-left: 6rem;
    border-radius: 10px;
}
.home1 img:hover, .project1 img:hover{
    filter: grayscale();
    transition: 2s;
}
.education{
    margin: 8rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
}
.education h5{
    margin-top: 2rem;
    font-size: 1.5em;
    line-height: 3rem;
}
.education p{
    font-size: 1.2rem;
    line-height: 3rem;
    margin-left: 8rem;
}
.projects {
    margin: 8rem;
    margin-top: 3rem;
}

.projects .p {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.projects p {
    word-wrap: normal;
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 3rem;
}

.project1{
    display: flex;
}
.project1 img{
    height: 250px;
    width: auto;
}
footer{
    background-color: #0e0e1a;
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: grey;
    padding: 12px 0;
}
.contact{
    margin: 8rem;
}
.contact h1{
    margin-bottom: 2.5rem;
}
.contact p{
    line-height: 2rem;
    font-size: 1rem;
    margin-left: 0rem;
}
.contact .call, .linkeden, .email, .location{
    margin-right: 1.2rem;
}
